:root{
    --color_text-primary: #1c8f8f;
    /* --color_text-primary: #AB29CA; */
    --color_text-secundary: #101E2C;
    --color_text-tertiary: #485663;
    --main_color-primary: #1fa38d;
    --backgrount-color: #FAFBFE;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}

.btn__quote{
    display: block;
    width: 150px;
    background: var(--main_color-primary);
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}
.btn__quote:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--color_text-primary);;
}
